@media(max-width: 905px){

    body{
        display: flex;
        justify-content: center;
    }

    header{
        display: flex;
        flex-direction: column;
        gap: 100px;
        margin-top: 45px;
        margin-left: 45px;
        margin-right: 45px;
        justify-content: center;
        width: 233px;
    }

    div{
        font-size: 40px;
    }

    nav{
        width: 100%;
    }

    .menu{
        display: flex;
        flex-direction: column;
        gap: 33px;
        font-size: 40px;
    }

    .quadrado{
        padding: 17px 0px;
        width: 233px;
        text-align: center;
    }

    .fonte-dispositivo-movel{
        font-size: 18px;
        padding: 15px 22px;
    }

    .menu .item{
        margin: 0;
    }

    .menu .gap{
        margin-bottom: 17px;
    }
}